<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>view-product</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-card>
    <!-- <img src="{{item.imgUrl}}" /> -->
    <ion-card-header>
      <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
      <ion-card-title>{{item.price}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <ion-card-header>
      <ion-button backround-color="#0A0A2A" [routerLink]="'/edit-item/' + item.id">Update</ion-button>
      <ion-button back-groundcolor="#0A0A2A" (click)="delete_item()">Delete</ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>
